The package requirements for the given Python program are as follows:

- requests
- pandas
- numpy
- nltk
- sklearn
- tensorflow
- matplotlib

You can install these packages using pip by running the following command:

```
pip install requests pandas numpy nltk sklearn tensorflow matplotlib
```

Please note that you may need to upgrade pip or use a different package manager if running the program in a specific environment.